{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="feed-container">

  {% for post in posts %}
  <div class="post-card">

    <!-- Post Header -->
    <div class="post-header">
      <img class="profile-img"
           src="{{ post.user.profile.profile_image.url }}"
           alt="profile">
      <strong>{{ post.user.username }}</strong>
    </div> 

    <!-- Post Image -->
     <div class="post-image">
      <img src="{{ post.image.url }}" alt="post image">
    </div>

    <!-- Post Actions -->
    <div class="post-actions">
      {% if request.user in post.likes.all %}
        ❤️
      {% else %}
        🤍
      {% endif %}
      <span>{{ post.likes.count }} likes</span>
    </div> 
    <form method="post" action="{% url 'toggle-like' post.id %}">
    {% csrf_token %}

    <button type="submit" class="like-btn">
        {% if request.user in post.likes.all %}
            ❤️
        {% else %}
            🤍
        {% endif %}
    </button>

    <span>{{ post.likes.count }} likes</span>
</form>


    <!-- Caption -->
    <div class="post-caption">
      <strong>{{ post.user.username }}</strong>
      {{ post.caption }}
    </div>

    <!-- Comments Count -->
     <!-- COMMENTS -->
<div class="comments-section">

    {% for comment in post.comments.all|slice:":3" %}
        <p>
            <strong>{{ comment.user }}</strong>
            {{ comment.text }}

            {% if comment.user == request.user %}
                <a href="{% url 'delete-comment' comment.id %}">❌</a>
            {% endif %}
        </p>
    {% endfor %}

    {% if post.comments.count > 3 %}
        <a href="{% url 'comment-list' post.id %}">
            View all {{ post.comments.count }} comments
        </a>
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" action="{% url 'add-comment' post.id %}">
            {% csrf_token %}
            <input type="text" name="text" placeholder="Add a comment..." required>
        </form>
    {% endif %}
</div> 

     
    <div class="post-comments">
      View all {{ post.comments.count }} comments
    </div>

  </div>
  {% empty %}
    <p>No posts yet.</p>
  {% endfor %}

</div>
{% endblock %}