/* Profile page styles */
.profile-header {
  display: flex;
  gap: 32px;
  align-items: center;
  background: var(--white);
  border: 1px solid var(--border-color);
  padding: 20px;
  border-radius: 8px;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid var(--border-color);
}

.profile-info h2 {
  font-size: 26px;
  margin-bottom: 8px;
}

.profile-info p {
  margin: 6px 0;
}

.profile-info a {
  color: var(--primary-color);
}

@media (max-width: 800px) {
  .profile-header {
    flex-direction: column;
    text-align: center;
  }
}
